<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="page-index">
<% include common/header.ejs %>
<% include common/footer.ejs %>
</body>
</html>